services:
  surrealdb:
    image: surrealdb/surrealdb:v2
    volumes:
      - ./surreal_data:/mydata
    environment:
      - SURREAL_EXPERIMENTAL_GRAPHQL=true
    command: start --log info --user root --pass root --bind 0.0.0.0:8001 rocksdb:/mydata/mydatabase.db
    pull_policy: always
    user: root
    restart: always


  api:
    image: lfnovo/open_notebook:v1-latest
    env_file:
      - ./docker.env
    environment:
      - PORT=5055
      - SURREAL_URL=ws://surrealdb:8001/rpc
   
    depends_on:
      - surrealdb
    ports:
      - "5055:5055"
    volumes:
      - ./notebook_data:/app/data
    restart: always

  frontend:
    image: lfnovo/open_notebook:v1-latest
    env_file:
      - ./docker.env
    environment:
      - PORT=8502
      - NEXT_PUBLIC_API_URL=http://cwowsgw80cgoso4wg8sos4ko.77.42.92.20.sslip.io
    depends_on:
      - api
    ports:
      - "8502:8502"
    restart: always
